*,
html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(0, 159, 233);
}

.navbar {
    background-color: rgb(0, 159, 233);
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: black;
    font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(89, 89, 238);
    transition: .2s ease-in-out;
    transition-delay: .2s;
    border-radius: 10px;
}


.a-navbar {
    color: black;
    text-decoration: none;
}

.content {
    background-color: rgb(0, 159, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: rgb(62, 178, 224);
    text-decoration: none;
    color: black;
    font-size: 30px;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content {
    width: 60%;
    height: 60%;
}

.footer {
    background-color: rgb(0, 159, 233);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 25px;
}